<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Adicionar Equipe</title>
</head>
<body>
    <h1>Adicionar Nova Equipe</h1>
    <form id="formEquipe">
        <label for="nomeEquipe">Nome da Equipe:</label>
        <input type="text" id="nomeEquipe" name="nomeEquipe" required><br><br>
        <label for="qtdeFunc">Quantidade de Funcionários:</label>
        <input type="number" id="qtdeFunc" name="qtdeFunc" required><br><br>
        <button type="submit">Adicionar Equipe</button>
    </form>

    <script src="js/equipe.js"></script>
</body>
</html>
