<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Carros</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Sistema de Gerenciamento de Corridas</h1>
        <div id="barranav">
            <nav>
                <ul>
                    <li class="index"><a href="index">Início</a></li>
                    <li class="equipes"><a href="equipes">Equipes</a></li>
                    <li class="pilotos"><a href="pilotos">Pilotos</a></li>
                    <li class="carros"><a href="carros">Carros</a></li>
                    <li class="corridas"><a href="corridas">Corridas</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h2>Menu de Carros</h2>
        <a href="#" class="btn-create" onclick="showForm('form', 'overlay')">Criar Carro</a>

        <div id="form" class="form-container hidden">
            <h2>Criar Carro</h2>
            <form id="formCriar">
                <label for="modeloCarro">Modelo do Carro:</label>
                <input type="text" id="modeloCarro" name="modeloCarro">
                <label for="marcaCarro">Marca:</label>
                <input type="text" id="marcaCarro" name="marcaCarro">
                <label for="anoCarro">Ano:</label>
                <input type="number" id="anoCarro" name="anoCarro">
                <label for="categoriaCarro">Categoria:</label>
                <input type="text" id="categoriaCarro" name="categoriaCarro">
                <a href="#" class="btn-create" onclick="addCarro()">Criar Carro</a>
            </form>
        </div>
        <div id="cardContainer" class="card-container"></div>
    </main>

    <footer>
        <p>&copy; 2024 Formula Management System. Todos os direitos reservados.</p>
    </footer>
    <div id="overlay" class="overlay hidden"></div>
    <script src="js/main.js"></script>
    <script src="js/carros.js"></script>
</body>
</html>
