<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Corridas</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Sistema de Gerenciamento de Corridas</h1>
        <div id="barranav">
            <nav>
                <ul>
                    <li class="index"><a href="index">Início</a></li>
                    <li class="equipes"><a href="equipes">Equipes</a></li>
                    <li class="pilotos"><a href="pilotos">Pilotos</a></li>
                    <li class="carros"><a href="carros">Carros</a></li>
                    <li class="corridas"><a href="corridas">Corridas</a></li>
                </ul>
            </nav>
            <div id="barraidn"></div>
        </div>
    </header>

    <main>
        <h2>Menu de Corridas</h2>
        <table id="tabelaCorridas">
            <thead>
                <tr>
                    <th>Nome da corrida</th>
                    <th>Data</th>
                    <th>Circuito</th>
                    <th>Condições Climaticas</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Formula Management System. Todos os direitos reservados.</p>
    </footer>
    <script src="js/main.js"></script>
    <script src="js/corridas.js"></script>
</body>
</html>
