<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal - Sistema de Gerenciamento de Corridas</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Sistema de Gerenciamento de Corridas</h1>
        <nav>
            <ul>
                <li><a href="equipes">Equipes</a></li>
                <li><a href="pilotos">Pilotos</a></li>
                <li><a href="carros">Carros</a></li>
                <li><a href="corridas">Corridas</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Bem-vindo ao Sistema de Gerenciamento de Corridas</h2>
        <p>Selecione uma categoria no menu acima para gerenciar informações relacionadas a equipes, pilotos, carros e corridas.</p>
    </main>

    <footer>
        <p>&copy; 2024 Formula Management System. Todos os direitos reservados.</p>
    </footer>
    <script src="js/index.js"></script>
</body>
</html>
