<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Pilotos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Sistema de Gerenciamento de Corridas</h1>
        <div id="barranav">
            <nav>
                <ul>
                    <li class="index"><a href="index">Início</a></li>
                    <li class="equipes"><a href="equipes">Equipes</a></li>
                    <li class="pilotos"><a href="pilotos">Pilotos</a></li>
                    <li class="carros"><a href="carros">Carros</a></li>
                    <li class="corridas"><a href="corridas">Corridas</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>Menu de Pilotos</h2>
        <a href="#" class="btn-create" onclick="showForm('pilotoForm', 'overlay')">Criar Piloto</a>

        <div id="form" class="form-container hidden">
            <h2>Criar Piloto</h2>
            <form id="formCriarPiloto">
                <label for="nomePiloto">Nome do Piloto:</label>
                <input type="text" id="nomePiloto" name="nomePiloto">
                <label for="idadePiloto">Idade:</label>
                <input type="number" id="idadePiloto" name="idadePiloto">
                <label for="nacionalidadePiloto">Nacionalidade:</label>
                <input type="text" id="nacionalidadePiloto" name="nacionalidadePiloto">
                <a href="#" class="btn-create"  onclick="addPiloto()">Criar Piloto</a>
            </form>
        </div>
        <table id="tabelaPilotos">
        <div id="cardContainerPilotos" class="card-container"></div>
    </main>

    <footer>
        <p>&copy; 2024 Formula Management System. Todos os direitos reservados.</p>
    </footer>
    <div id="overlay" class="overlay hidden"></div>
    <script src="js/main.js"></script>
    <script src="js/pilotos.js"></script>
</body>
</html>
